<a href="https://colab.research.google.com/github/fatmaomar2/soft_computing/blob/main/naive_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Importing Packages**

In [14]:
import numpy as np   #for matrices
import pandas as pd  #to read from csv files
from sklearn.metrics import  confusion_matrix,accuracy_score,precision_score,recall_score,f1_score 
from sklearn.model_selection import train_test_split
#sklearn for all machine learning packagge

##**loading dataset** and read it

In [15]:
data= pd.read_csv("/content/sample_data/main.csv")
df = pd.DataFrame(data)
df

     ctrust  cuntrust  last  context          score
0         4         1     4    sport  untrustworthy
1         4         1     4    sport  untrustworthy
2         1         4     4    sport    trustworthy
3         2         1     4    sport    trustworthy
4         3         1     4    sport    trustworthy
..      ...       ...   ...      ...            ...
317       2         1     2  holiday  untrustworthy
318       1         1     1  holiday    trustworthy
319       1         1     1  holiday    trustworthy
320       1         1     1  holiday    trustworthy
321       2         1     2  holiday  untrustworthy

[322 rows x 5 columns]

##information about your dataset

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ctrust    322 non-null    int64
 1   cuntrust  322 non-null    int64
 2   last      322 non-null    int64
 3   context   322 non-null    object
 4   score     322 non-null    object
dtypes: int64(3), object(2)
memory usage: 12.7+ KB

In [17]:
print('ctrust',df.ctrust.unique())
print('cuntrust',df.cuntrust.unique())
print('last',df['last'].unique())
print('context',df.context.unique())
print('score',df.score.unique())

ctrust [4 1 2 3]
cuntrust [1 4 3 5]
last [4 1 3 2]
context ['sport' 'game' 'ECommerce' 'holiday']
score ['untrustworthy' 'trustworthy']

##**preprocessing**

Convert categorical value to binary

In [18]:
df['score'].replace({'untrustworthy':0,'trustworthy':1},inplace=True)

Convert categorical value to integral value

In [19]:
df['context'].replace({'sport':1,'game':2,'ECommerce':3,'holiday':4},inplace=True)

In [20]:
df

     ctrust  cuntrust  last  context  score
0         4         1     4        1      0
1         4         1     4        1      0
2         1         4     4        1      1
3         2         1     4        1      1
4         3         1     4        1      1
..      ...       ...   ...      ...    ...
317       2         1     2        4      0
318       1         1     1        4      1
319       1         1     1        4      1
320       1         1     1        4      1
321       2         1     2        4      0

[322 rows x 5 columns]

Split X and Y data

In [21]:
y=data.score.values
x_data=data.drop("score",axis=1)
#here the output(score) is assigned to y
#input data is assigned to x_data variable

Normalize the data

In [22]:
x=(x_data-np.min(x_data))/(np.max(x_data)-np.min(x_data))
x
#normalize mean that the vale became in range 0.0:1.0

/usr/local/lib/python3.9/dist-packages/numpy/core/fromnumeric.py:84: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  return reduction(axis=axis, out=out, **passkwargs)
/usr/local/lib/python3.9/dist-packages/numpy/core/fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

       ctrust  cuntrust      last  context
0    1.000000      0.00  1.000000      0.0
1    1.000000      0.00  1.000000      0.0
2    0.000000      0.75  1.000000      0.0
3    0.333333      0.00  1.000000      0.0
4    0.666667      0.00  1.000000      0.0
..        ...       ...       ...      ...
317  0.333333      0.00  0.333333      1.0
318  0.000000      0.00  0.000000      1.0
319  0.000000      0.00  0.000000      1.0
320  0.000000      0.00  0.000000      1.0
321  0.333333      0.00  0.333333      1.0

[322 rows x 4 columns]

Split dataset into training and test dataset

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=37)

##**svm**

In [24]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(x_train, y_train)
y_pred = svclassifier.predict(x_test)
confu_svm=confusion_matrix(y_test,y_pred)
accuracy_svm=accuracy_score(y_test,y_pred)
precision_svm=precision_score(y_test,y_pred)
recall_svm=recall_score(y_test,y_pred)
f1_svm=f1_score(y_test,y_pred)

##**Naive Bayes**

In [25]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(x_train,y_train)
y_pred = nb.predict(x_test)
confu_nb=confusion_matrix(y_test,y_pred)
accuracy_nb=accuracy_score(y_test,y_pred)
precision_nb=precision_score(y_test,y_pred)
recall_nb=recall_score(y_test,y_pred)
f1_nb=f1_score(y_test,y_pred)

Comparing SVM and Naive Bayes

In [26]:
from tabulate import tabulate
a='SVM'
b='Naive Bayes'
result1=(a,accuracy_svm,precision_svm,recall_svm,f1_svm)
result2=(b,accuracy_nb,precision_nb,recall_nb,f1_nb)
result=(result1,result2)
print('confusion matrix SVM')
print(confu_svm)

print('confusion matrix Naive Bayes')
print(confu_nb)

print(tabulate(result, headers=["accuracy", "precision", "recall","f1_score"]))

confusion matrix SVM
[[20  7]
 [ 5 49]]
confusion matrix Naive Bayes
[[ 8 19]
 [ 7 47]]
               accuracy    precision    recall    f1_score
-----------  ----------  -----------  --------  ----------
SVM            0.851852     0.875     0.907407    0.890909
Naive Bayes    0.679012     0.712121  0.87037     0.783333